:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto var(--spacing-800) auto;

  > svg {
    display: none;
  }

  nx-path {
    display: block;
    margin-bottom: 24px;
  }

  sl-textarea {
    min-height: 600px;
  }
}

.nx-detail {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  line-height: 1.2;
}

.nx-alert {
  /* Info is the default color */
  background: linear-gradient(45deg, var(--s2-gray-300) 0%, var(--s2-gray-200));
  color: var(-s2-gray-900);
  padding: 0 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }

  p {
    margin: 0;
  }

  &.warning {
    color: #fff;
    background: linear-gradient(45deg, var(--s2-orange-600) 0%, var(--s2-orange-400));
  }

  &.success {
    color: #fff;
    background: linear-gradient(45deg, var(--s2-green-900) 0%, var(--s2-green-700));
  }
}

.config-preview-table {
  display: grid;
  gap: 4px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 12px;

  .table-row {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    > div {
      padding: 4px 8px;
      background-color: var(--s2-gray-75);
    }

    &:first-child {
      font-weight: 700;

      > div {
        padding: 8px;
        background-color: var(--s2-gray-100);
      }
    }
  }
}

.config-preview-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .da-docs {
    color: var(--s2-gray-800);
    font-style: italic;
  }

  .config-preview-action {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
