:host {
  display: block;
  max-width: var(--se-grid-container-width, var(--grid-container-width));
  margin: 0 auto var(--s2-spacing-500, var(--spacing-500)) auto;
}

sl-textarea {
  height: 320px;
  margin-bottom: var(--s2-spacing-400, var(--spacing-400));
}

sl-select {
  width: 120px;
}

.delete-toggle {
  background: var(--s2-red-700);
  border-radius: var(--s2-corner-radius-500, 8px);
  line-height: 32px;
  padding: 0 10px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
}

.delete-toggle input {
  margin: 0;
  width: 12px;
  height: 12px;
  display: block;
}

.delete-toggle label {
  font-size: 14px;
  display: block;
}

.da-bulk-action-submit {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 12px;
  margin: 0 0 var(--s2-spacing-400, var(--spacing-400));
}

.da-bulk-action-submit button {
  min-width: 80px;
}

.detail-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin: 0 0 var(--s2-spacing-400, var(--spacing-400));
}

.detail-card {
  display: flex;
  justify-content: space-between;
  background: var(--s2-green-200);
  border-radius: 18px;
  overflow: hidden;
  padding: var(--s2-spacing-400, var(--spacing-400));

  button {
    background: transparent;
  }
}

.detail-card-remaining {
  background: var(--s2-cyan-200);
}

.detail-card-total {
  background: var(--s2-cyan-300);
}

.detail-card-errors {
  background: var(--s2-red-300);
}

.detail-card .cancel-button {
  margin: 0;
  padding: 0;
  min-width: 72px;
  border-radius: var(--s2-corner-radius-500, var(--s2-radius-100));
  border: none;
  background: rgb(0 0 0 / 10%);
}

.detail-card h3,
.detail-card p {
  margin: 0;
  line-height: 1;
}

.detail-card h3 {
  margin-bottom: var(--s2-spacing-100, var(--spacing-100));
}

.detail-card p {
  font-size: var(--s2-heading-size-xl, var(--s2-font-size-600));
}

.url-list {
  display: none;
  background: var(--s2-green-200);
  border-radius: 18px;
  overflow: hidden;
  padding: var(--s2-spacing-400, var(--spacing-400));
  margin: 0 0 var(--s2-spacing-400, var(--spacing-400));
}

.url-list.is-expanded {
  display: block;
}

.url-list-remaining {
  background: var(--s2-cyan-200);
}

.url-list-errors {
  background: var(--s2-red-300);
}

.url-list-total {
  background: var(--s2-cyan-200);
}

.url-list h2 {
  margin-top: 0;
  line-height: 1;
}

.urls-result {
  list-style: none;
  margin: 0;
  padding: 0;
}

.urls-result li {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
  margin: 0 0 4px;
  gap: 24px;
}

.urls-result li:last-child {
  margin: 0;
}

.url-path {
  white-space: nowrap;
  overflow-x: hidden;
}

.urls-result .url-status {
  background: rgb(0 0 0 / 40%);
  color: rgb(255 255 255);
  border-radius: 4px;
  padding: 0 8px;
  font-weight: 700;
  min-width: 50px;
  text-align: center;
  user-select: none;
}

.detail-card-actions {
  display: flex;
  gap: 12px;
}

.toggle-list-icon {
  display: block;
  border: 0;
  padding: 0;
}

.toggle-list-icon svg {
  width: 18px;
  height: 18px;
  transition: transform 0.2s ease-in-out;
}

.is-expanded .toggle-list-icon svg {
  transform: rotate(90deg);
}
