:host {
  display: block;
  max-width: var(--se-grid-container-width);
  margin: var(--s2-spacing-800) auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

nx-loc-sync,
nx-loc-translate,
nx-loc-rollout {
  background: var(--s2-gray-50);
  display: block;
  border-radius: 16px;
  padding: var(--s2-spacing-400);
  margin-bottom: var(--s2-spacing-400);
}

.da-loc-detail-org {
  color: var(--s2-gray-600);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.da-loc-detail-title {
  line-height: 1;
  font-size: 36px;
  margin-bottom: var(--s2-spacing-400);
}
