:host {
  --popover-gap: 4px;

  position: fixed;
  z-index: 100;
  display: none;
  right: auto;
  bottom: auto;
  flex-direction: column;
  padding: var(--s2-spacing-100) 10px;
  min-width: 100px;
  background: var(--s2-gray-25);
  border: none;
  border-radius: var(--s2-corner-radius-700);
  box-shadow: var(--s2-drop-shadow-elevated);
}

:host([open]),
:host(:popover-open) {
  display: block;
}

slot[name="actions"]::slotted(*) {
  display: flex;
  gap: var(--s2-spacing-75);
  justify-content: flex-end;
}
