:host {
  display: block;
  box-sizing: border-box;
  min-height: 12rem;
  padding: var(--s2-spacing-200) var(--s2-spacing-300);
  font-family: var(--s2-font-family);
  font-size: var(--s2-body-size-s);
  line-height: var(--s2-body-line-height);
  color: var(--s2-gray-800);
  background-color: var(--s2-gray-25);

  .browse-hint {
    padding: var(--s2-spacing-200);
    border-radius: var(--s2-corner-radius-300);
    background-color: var(--s2-gray-75);
  }

  .browse-hint-title {
    margin: 0 0 var(--s2-spacing-100);
    font-weight: var(--s2-component-s-medium-font-weight);
    font-size: var(--s2-component-s-medium-font-size);
    line-height: var(--s2-component-s-medium-line-height);
    color: var(--s2-gray-900);
  }

  .browse-hint-detail {
    margin: 0;
    color: var(--s2-gray-700);
  }
}
