:host {
  display: block;
  max-width: var(--se-grid-container-width, var(--grid-container-width));
  margin: var(--s2-spacing-500, var(--spacing-500)) auto;
}

form {
  display: flex;
  gap: var(--s2-spacing-400, var(--spacing-400));
}

.da-input {
  flex: 1 1 auto;
}

.totals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.da-list-actions {
  display: flex;
  gap: var(--s2-spacing-400, var(--spacing-400));
}

.da-list-actions button {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li .details {
  background: var(--s2-gray-75);
  border-radius: var(--s2-corner-radius-100, var(--s2-radius-100));
  display: flex;
  margin-bottom: var(--s2-spacing-200, var(--spacing-200));
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--s2-spacing-400, var(--spacing-400));
}

li a {
  user-select: none;
}

li .details.hide {
  display: none;
}
