.section {
  height: 100%;
}

.nx-shell {
  height: 100%;
}

.no-shell {
  background-color: #fff;
}

iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

.nx-button-group {
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 20px;
}

.nx-dialog {
  padding: 20px;
  max-width: 600px;

  h2 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 10px;
  }
}
