:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--s2-spacing-400);
}

.save-actions {
  display: flex;
  align-items: center;
  gap: var(--s2-spacing-300);
  margin-inline-start: auto;

  .hint {
    margin: 0;
    color: var(--s2-gray-700);
    font-size: var(--s2-body-size-s);
  }
}

nx-gql-endpoint-editor {
  flex: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s2-spacing-200);
  padding-block: var(--s2-spacing-800);
  color: var(--s2-gray-700);
}
