.sub-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--s2-spacing-400);
  margin: var(--s2-spacing-400) 0;
}

.detail-card {
  background: var(--s2-green-200);
  border-radius: 18px;
  overflow: hidden;
  padding: var(--s2-spacing-400);
}

.detail-card-pages {
  background: var(--s2-cyan-300);
}

.detail-card-sheets {
  background: var(--s2-green-300);
}

.detail-card-fragments {
  background: var(--s2-seafoam-300);
}

.detail-card-errors {
  background: var(--s2-red-300);
}

.detail-card p {
  margin: 0;
  line-height: 1.2;
}

.detail-card p:first-child {
  font-weight: 700;
}

.detail-card p:last-child {
  font-size: var(--s2-heading-size-l);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid var(--s2-gray-300);
  border-radius: 18px;
  overflow: hidden;
  background: var(--s2-gray-50);
}

li {
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-top: 1px solid var(--s2-gray-300);
  border-bottom: 1px solid var(--s2-gray-300);
}

li:hover {
  background: var(--s2-blue-200);
  border-top: 1px solid var(--s2-blue-1000);
  border-bottom: 1px solid var(--s2-blue-1000);
}

input[type="checkbox"] {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.path {
  color: var(--s2-gray-800);
  text-decoration: none;
  flex: 1 1 auto;
  word-break: break-all;
  line-height: 32px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: var(--s2-corner-radius-700);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 180px;
  padding: 4px 0;
}

.status-ready {
  background: var(--s2-green-800);
}

.status-error {
  background: var(--s2-red-800);
}

.actions {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: var(--s2-spacing-200);
}

@media (width > 600px) {
  .details {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
