:host {
  display: grid;
  grid-template-columns: var(--nav-width) 1fr;
  height: 100%;

  p {
    margin: 0;
  }

  button {
    background: transparent;
    border: none;
    padding: 0;
  }
}

.brand-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: stretch stretch;

  svg {
    width: 24px;
    height: 24px;
  }
}

.brand-link {
  display: flex;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}
